// about

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 0;  
}

.about-content {
    display: flex;

    &__text {
        @include primaryFont(1.4rem, 400, $fontColorLight);
        line-height: 1.61;
        flex: 1 0 37.5%;

        &-middle {
            padding: 0 20px;
        }
    }

    &__text-bold {
        @include primaryFont(1.8rem, 900, $fontColorDark);
        line-height: 1.4; 
        text-align: right;
        flex: 1 0 25%;
    }
}

.quote {
    position: relative;
}

.quote::before {
    content: "\201C";
    position: absolute;
    top: -40px;
    left: -20px;
    font-size: 8rem;
    color: $accentColor;
    z-index: -10;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

