// about

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 0;  
}

.fadeAbout {
    opacity: 0;  
    transition: all 800ms ease-in;
}

.fadeIn {
    opacity: 1;
}

.about-section-heading {
    text-align: center;
    
    h2 {
        @include primaryFont(5rem, 900, $fontColorDark);
        text-transform: uppercase;
        margin-bottom: 70px;   
        position: relative; 
    }

    h2::after {
        content: "";
        position: absolute;
        bottom: -6px;
        background-color: $accentColor;
        height: 2px;
        width: 100px;
        right: 50%;
    }
}

.about-content {
    display: flex;

    &__text {
        @include primaryFont(1.4rem, 400, $fontColorLight);
        line-height: 1.61;
        flex: 1 0 37.5%;

        &-middle {
            padding: 0 20px;
        }
    }

    &__text-bold {
        @include primaryFont(1.8rem, 800, $fontColorDark);
        line-height: 1.4; 
        text-align: right;
        flex: 1 0 25%;
    }
}

.about-text-wrap {
    display: flex;
}

.quote {
    position: relative;
}

.quote::before {
    content: "\201C";
    position: absolute;
    top: -40px;
    left: -20px;
    font-size: 8rem;
    color: $accentColor;
    z-index: -10;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

//media queries 

@media(max-width: 800px) {
    .about-content {
        display: flex;
        flex-direction: column;

        &__text {
            flex: 1 0 100%;

            &-middle {
                padding: 20px 0;
            }
        }

        &__text-bold {
            text-align: center;
            flex: 1 0 100%;
        }
    }
}

