$primaryColor: #f3f3f3;
$accentColor: #FA7268;
$fontColorDark: #1d1d1f;
$fontColorLight: #ACABAB;
$fontColorWhite: #fcfcfc;

@mixin primaryFont($size, $weight, $color) {
    font-family: 'Raleway', sans-serif; 
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

@mixin secondaryFont {
    font-family: 'Cabin', sans-serif;
    color: $fontColorDark;
    font-size: 2rem;
    line-height: 32px;
}

@mixin globalBtn {
    @include primaryFont(2rem, 29px);
    background: $accentColor;
    padding: 10px 33px;
    display: inline-block;
    &:hover {
        background: #ee5d5d;
    }
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    background: #fcfcfc;
}

ul, li {
	padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.skip-link {
    position: absolute;
    left: -1000px;
    top: 5px;
    z-index: 999;
    background: white;
    color: black;
}

.skip-link:focus {
    left: 0;
}

.visuallyhidden:not(:focus):not(:active) {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;
}

// typography styles

h1, h2, h3, h4, h5, h6, p {
	padding: 0;
    margin: 0;
}

.section-heading {
    text-align: center;
    
    h2 {
        @include primaryFont(5rem, 900, $fontColorDark);
        text-transform: uppercase;
        margin-bottom: 70px;   
        position: relative; 
    }

    h2::after {
        content: "";
        position: absolute;
        bottom: -6px;
        background-color: $accentColor;
        height: 2px;
        width: 100px;
        right: 50%;
    }

}

// layout styles

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    width: 80%;
}

.fade {
    opacity: 0;  
    transition: all 700ms ease-in;
}

.fadeIn {
    opacity: 1;
}

//buttons

.global-btn {
    @include primaryFont(1.8rem, 900, $fontColorDark);
    border: 2px solid $accentColor;
    padding: 10px 40px;
    border-radius: 4px; 
}

.global-btn:hover {
    @include primaryFont(1.8rem, 900,#fcfcfc);
    border: 2px solid $accentColor;
    background: $accentColor; 
    color: #fcfcfc;
}



