// header
header {
    background: url('assets/head.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    -webkit-clip-path: polygon(100% 0, 100% 88%, 62% 100%, 0 88%, 0 0);
    clip-path: polygon(100% 0, 100% 88%, 62% 100%, 0 88%, 0 0);
    background-position: top -65px center;
    background-attachment: fixed;

    h1 {
        @include primaryFont(4.5rem, 800, $fontColorWhite);
        max-width: 200px;
        margin-top: 200px;
        line-height: 1;
    }

    h1::after {
        content: "";
        border-top: 2px solid $accentColor;
        display: block;
        width: 30%;
        margin-top: 10px;
    }
}

.weight-change {
    font-weight: 300;
}

// nav

.nav-wrap {  
    border-bottom: 1px solid #efefef;
    background: #fcfcfc;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;

    &__logo {
        width: 30px;
    }

    &__top-nav {

    }

    &__top-nav-list {
        display: flex;

        li {
            @include primaryFont(1.3rem, 700, $fontColorDark);
            margin-left: 10px;
            text-transform: uppercase;

            a {
                color: $fontColorDark;
            }

            a:hover {
                color: $accentColor;
            }
        }
    }
}

.typing {
  @include primaryFont(1.7rem, 700, $fontColorWhite);  
  padding-top: 10px;
  display: inline-block;
}