.skills {
    background: url('assets/torso.jpg') no-repeat center center;
    background-size: cover;
    -webkit-clip-path: polygon(35% 0, 100% 15%, 100% 91%, 62% 100%, 0 90%, 0 15%);
    clip-path: polygon(35% 0, 100% 15%, 100% 91%, 62% 100%, 0 90%, 0 15%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 0;
    background-attachment: fixed;
}

.fadeSkills {
    opacity: 0;  
    transition: all 800ms ease-in;
}

.fadeIn {
    opacity: 1;
}

.skills-section-heading {
    text-align: center;
    
    h2 {
        @include primaryFont(5rem, 900, $fontColorDark);
        text-transform: uppercase;
        margin-bottom: 70px;   
        position: relative; 
    }

    h2::after {
        content: "";
        position: absolute;
        bottom: -6px;
        background-color: $accentColor;
        height: 2px;
        width: 80px;
        right: 48%;
    }
}

.skills-container {
    display: flex;
    flex-direction: column; 
}

.skills-icon {
    font-size: 11rem;
    color: $accentColor;
}

.skills-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.skills-item {
  display: flex;
  justify-content: center;
  flex: 1 1 20%;
  transition: all 0.6s ease-in-out;
  position: relative;
  margin: 20px 0;

  img {
    position: relative;
    left: 0;
  }
}

.skills-description {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $accentColor;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: -10;


  h2 {
    @include primaryFont(1.5rem, 600, $fontColorWhite); 
  }
}

.skills-item:hover img:first-child {
  transform: rotate(360deg);
  left: 90px;
}

.skills-item img:first-child {
      transition: 1s;
}