
.works {
    text-align: center; 
    padding: 100px 0;
}

.fadeWork {
    opacity: 0;  
    transition: all 800ms ease-in;
}

.fadeIn {
    opacity: 1;
}

.work-section-heading {
    text-align: center;
    
    h2 {
        @include primaryFont(5rem, 900, $fontColorDark);
        text-transform: uppercase;
        margin-bottom: 70px;   
        position: relative; 
    }

    h2::after {
        content: "";
        position: absolute;
        bottom: -6px;
        background-color: $accentColor;
        height: 2px;
        width: 70px;
        right: 48%;
    }
}

.works-gallery {
    display: flex;
}

.column-one {
    width: 65%;
    padding-right: 15px;
}

.column-two {
    width: 35%;
    padding-left: 15px;
}

.hover-content {
    opacity: 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all .8s ease-out;
    

    h2 {
        @include primaryFont(3.5rem, 700, #fcfcfc);
        text-transform: uppercase;
        padding-bottom: 5px;
        transition: all .8s ease-out;
    }

    h3 {
        @include primaryFont(2.3rem, 700, #fcfcfc);
        padding-bottom: 5px; 
        text-transform: capitalize;
        transition: all .8s ease-out;
    }

    p {
        @include primaryFont(1.6rem, 400, #fcfcfc);
        padding-bottom: 10px;
        line-height: 1.4;
        transition: all .8s ease-out;
    }
}

.site-links {
    display: flex;
    justify-content: center;

    a {
        padding: 0 5px;
    }
}

.hover-content-parent {
	position: relative;
    text-align: center;
    overflow: hidden;
    margin-bottom: 30px;
}

.hover-content-parent:hover .hover-content {   
        opacity: 1; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px;
    	position: absolute;
    	top: 0;
    	left: 0;
    	right: 0;
    	bottom: 0;
        background-color:rgba(250, 114, 104, 0.8);

        h2 {
            @include primaryFont(3rem, 700, #fcfcfc);
        }

        h3 {
            @include primaryFont(2rem, 700, #fcfcfc);
        }
}

.hover-content-parent:hover .works-img {    
    	transform: scale(1) rotate(0deg);
        transition: .8s ease-in-out;
        transform: scale(1.3) rotate(-9deg);
}

.works-img {
    width: 100%;
    transition: all .6s ease-out;
}

@media(max-width: 1170px) {
    .hover-content {

        h2 {
            @include primaryFont(2.3rem, 700, #fcfcfc);
        }

        h3 {
            @include primaryFont(1.6rem, 700, #fcfcfc);
        }

        p {
            @include primaryFont(1.3rem, 400, #fcfcfc);
            padding-bottom: 5px;
        }
}
    .hover-content-parent:hover .hover-content {  
        padding: 10px; 

        h2 {
            @include primaryFont(2rem, 700, #fcfcfc);
        }

        h3 {
            @include primaryFont(1.4rem, 700, #fcfcfc);
        }

        p {
            @include primaryFont(1.2rem, 400, #fcfcfc);
        }
    }
}

@media (max-width: 936px) {

    .hover-content-parent {
        margin-bottom: 10px;
    }

    .harper-content {
        p {
            display: none;   
        }
    }

    .column-one {
        padding-right: 5px;
    }

    .column-two {
        padding-left: 5px;
    }
}

@media (max-width: 768px) {
    .works-gallery {
        display: flex;
        flex-direction: column;
    }

    .column-one {
        width: 100%;
        padding-right: 0px;
    }

    .column-two {
        width: 100%;
        padding-left: 0px;
    }   

    .harper-content {
        p {
            display: block;   
        }
    }

    .works-img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        transition: all .6s ease-out;
    }

    .hover-content-parent {
        text-align: left;
        margin-bottom: 20px;
    }

    .hover-content {
        align-items: flex-start;
        text-align: left;
        opacity: 1; 
        padding: 20px;
        background-color:rgba(250, 114, 104, 0.8);
        position: absolute;
        top: 100px;
        right: 100px;
        bottom: 40px;

        h2 {
            @include primaryFont(1.8rem, 700, #fcfcfc);
            transition: none;
        }

        h3 {
            @include primaryFont(1.4rem, 400, #fcfcfc);
            padding-bottom: 5px; 
            transition: none;
        }

        p {
            display: none;
        }
    }

}


